@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800");
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #f8f8f8; }

*:focus {
  outline: 0; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.mr-1 {
  margin-right: 1em; }
